*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
    line-height: 1.8;
    background-color: #f0ead6;
    font-family: 'Cormorant Garamond', serif;
}


.opacity-animated1 {
    animation: opac 2s;
}
.opacity-animated2 {
    animation: opac 3s;
}

@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*Button class*/

body,
html {
    height: 100%;
    line-height: 1.8;
    background-color: #f0ead6;
    font-family: 'Cormorant Garamond', serif;
}

/*This locks co-ords*/

.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*big images*/

img {
    vertical-align: middle;
    border-style: none;
}

.image {
    max-width: 100%;
    height: auto;
}

.bigImage0 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bigImage0 {
    background-image: url(images/fleetingPleasures.jpg);
    min-height: 100%;
}
