header{
    height:200px;
}

.RandomLogo{
    height: 80px;

    display: inline;
    float: left;
}

.navItem {
    display: inline;
    float: right;
  }

.btnNav{
    padding: 15px 32px;
    padding-left:20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
}
.navUl{
    list-style: none;
    padding-left:60px;
    padding-right:60px;
    padding-top: 60px;
}
body{
    background-color: #e7e7e7;
}

header{
    height: 240px;
    background-color: #f0ead6;
}

footer{
    height:300px;
    background-color:#f0ead6;
}
.flex-container{
    display:flex;
    flex-direction: row-reverse;

}
.navItem {
    display: inline;
    float: right;
  }
.navUl{
    list-style: none;
    padding-left:60px;
    padding-right:60px;
    padding-top: 60px;
}
.RandomLogo{
    height: 80px;

    display: inline;
    float: left;
}
.btnNav{
    padding: 15px 32px;
    padding-left:20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
}
.center {
    margin: auto;

    text-align: center;
  }
.blackBorder{
    border: 1px solid black;
    width: 50%;
    padding: 10px;
}

.flex{
    display: flex;
    justify-content:space-between;

}
.flex-column{
    flex-direction: column;
}


.padded10{
    padding: 10px;
}
.input[type=text] {
    width: 100%;
    box-sizing: border-box;
  }
.contentItem{
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: #e7e7e7;
}
.contentItemBody{
    flex: auto;

}
.contentImg{
    height: 300px;
    width:200px
}
.content{
    justify-content:space-evenly;
}

.floatright{
    float: right;
}
.floatleft{
    float: left;
}

/*this is copied code*/
.wrapper {
    display: flex;
    justify-content: space-between;
}

.main,
.sidebar {
    border: 3px solid black;
    padding: 15px;
    background-color: #fff;
}

.main {
    width: 75%;
    height: 2000px;
}

.sidebar {
    width: 15%;
    height: 25vh;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

